<%= form_for @pin, html: { multipart: true } do |f| %>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">  

      <% if @pin.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @pin.errors.full_messages.each do |msg| %>
            <li class="nunito danger"><%= msg %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

      <div class="col-sm-6">
          <div class="form-group">
              <label class="nunito" for="email">Title* (You must enter a title)</label>
              <%= f.text_field :title, class: 'form-control', id: "pin-title" %>
          </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label class="nunito" for="subject">Picture</label>
          <button type="button" class="form-control btn btn-default" id="img_button">
            <i class="fa fa-picture-o"></i>Choose File
          </button>
          <%= f.file_field :photo, id: "img_file" %>
        </div>
      </div>

      <!-- <div class="col-sm-12">
        <div class="form-group">
          <button type="submit" class="btn btn-default"><i class="fa fa-picture-o"></i>Upload</button>
        </div>
      </div> -->

      <div class="col-sm-12">
        <div class="form-group">
          <label class="nunito" for="message">Message OR Website Address* (1400 characters or less)</label>
          <%= f.text_area :content, rows: 9, class: 'form-control', id: "pin-content" %>
        </div>
      </div>

       <div class="col-sm-12">
        <div class="form-group">
          <i class="badge" id="char-count">0</i>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <%= f.submit "Publish", class: "btn btn-primary", id: "trenda-btn", style: "margin-bottom: 30px;" %>
      </div>
    </div>
  </div>
  <!-- /.row -->
<% end %>