<div class="container breathe">
  <% flash.each do |message_type, message| %>
    <div class="nunito alert alert-<%= message_type %> col-md-8 col-md-offset-2">
      <%= message %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-7 col-md-offset-2">

      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <%= link_to @pin.user do %>
              <%= image_tag(@pin.user.avatar, class: "media-object img-circle pull-left", width: 50, height: 50) %>
            <% end %>
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="padding: 10px;">
              <% if @pin.user.provider == 'facebook' %>
                <%= link_to @pin.user.name, @pin.user, class: "bold mclaren fblue" %>
              <% elsif @pin.user.provider == 'linkedin' %>
                <%= link_to @pin.user.name, @pin.user, class: "bold mclaren lgray" %> 
              <% else %>
                <%= link_to @pin.user.name, @pin.user, class: "bold mclaren tblue" %>
              <% end %>
            </h4>
            <div class="panel panel-default">
              <%= image_tag @pin.photo.url(:large), class: "img-responsive img-show top-left" unless @pin.photo.blank? %>
              <div class="panel-body">                   
                <% if @pin.content.downcase.start_with?('http') %>
                  <h3 class="bold black nunito text-left"><%= link_to @pin.title, @pin.content, target: "_blank", style: "word-wrap: break-word;" %></h3>
                <% elsif @pin.content.downcase.start_with?('www.') %>
                  <% url = @pin.content.gsub(@pin.content[0..3],"http://" ) %>
                  <h3 class="bold black nunito text-left"><%= link_to @pin.title, url, target: "_blank" %></h3>
                <% else %>
                  <h3 class="bold black nunito text-left"><%= @pin.title %></h3>
                <% end %>
                <span id="article">                  
                  <%= simple_format(@pin.content, html_options = {class: "wwrap bitter"}) %>
                </span>
                <br/>
                <span class="actions">
                  <% if logged_in? %>
                    <%= link_to like_pin_path(@pin), class: "btn btn-primary right-btn left-btn", method: :put, :remote => true do %>
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      <i id="likes_count_<%= @pin.id %>" class="badge"><%= @pin.get_likes.size %></i>
                    <% end %>
                    <%= link_to dislike_pin_path(@pin), class: "btn btn-primary right-btn left-btn", method: :put, :remote => true do %>
                      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                      <i  id="dislikes_count_<%= @pin.id %>" class="badge"><%= @pin.get_dislikes.size %></i>
                    <% end %>
                  <% end %>
                  <% if current_user?(@pin.user) %>
                    <%= link_to edit_pin_path(@pin), class: "btn btn-primary right-btn left-btn" do %>
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to @pin, class: "btn btn-danger right-btn left-btn", method: :delete, data: { confirm: "Are you sure you want to delete this trend?" } do %>
                      delete <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <!-- col-md-7 -->
  </div>
  <!-- row -->
</div>
<!-- container -->