<div class="container">
	<div class="row">
		<div class="alert alert-info col-sm-8 col-sm-offset-2 bitter" style="font-size: 20px;">
		  <button type="button" data-dismiss="alert" aria-hidden="true"
		    class="close" style="margin-top: -20px; margin-right: -12px;">
		    <strong>×</strong>
		  </button>
		  <span style="word-spacing: 5px;">
			  <strong>Welcome!</strong> Contact us at
			  <i class="black">Lani@trenda.me</i> or <span class="black">+2348023908727.</span>
		  </span>
		</div>
	</div>
	<div style="margin: 100px;">		
	</div>
</div>