<div id="all">
	<div id="content">		
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3 bitter lgray tos well">

				<h2 class="nunito">Trenda Privacy Policy</h2>
				<p>You care about how your personal information is used and shared. Trenda takes your privacy very seriously. Please read the following to learn more about the privacy policies of Trenda.</p>

				<p>Trenda.me is the company that operates the Trenda website, content, features and related products, such as the Trenda homepage. Collectively, in this document, we’ll refer to all of these as “Trenda”.</p>

				<p>This Privacy Policy describes the policies and procedures of Trenda.me Ng. on the collection, use and disclosure of your information on Trenda. In connection with your use of Trenda, we receive information about you from various sources, including: (i) through your Trenda user account (your "Account"); (ii) your use of Trenda generally; and (iii) from third party websites and services. When you use Trenda, you are consenting to the collection, transfer, manipulation, storage, transmission, disclosure and other uses of your information as described in this Privacy Policy.</p>

				<h3>What Does This Privacy Policy Cover?</h3>

				<p>This Privacy Policy covers the treatment of personally identifiable information ("Personal Information") we gather when you are using or accessing Trenda. This Privacy Policy also covers our treatment of any Personal Information that our business partners share with us or that we share with our business partners.</p>

				<p>This Privacy Policy does not apply to the practices of third parties that we do not own or control, including but not limited to any third-party websites, content sources, services and applications ("Third Party Services") with which you choose to access Trenda, or to individuals that we do not manage or employ. Basically, our Privacy Policy applies to the things we control; others’ privacy policies apply to the things they control.</p>

				<p>While we endeavor to facilitate access only to Third Party Services that share our respect for your privacy, we can’t, and don’t, take responsibility for the content or privacy policies of those Third Party Services. We encourage you to carefully review the privacy policies of any Third Party Services you access via Trenda.</p>

				<h3>What Information Is Collected by Trenda?</h3>

				<p>The information we gather enables us to operate, personalize, and improve Trenda. When you access some components of Trenda, we may request, collect and/or display some of your Personal Information. We collect the following types of information from our users.</p>

				<h3>Sign-In Information:</h3>

				<p>When you create an Account or login using your Twitter, Facebook, and/or LinkedIn credentials, you will provide information that could be Personal Information, such as your username on that service and/or email address. You acknowledge that this information may be personal to you, and by creating an account with Trenda and providing Personal Information to us, you allow others, including us, to identify you and therefore may not be anonymous. </p>

				<p>We may use contact information you voluntarily provide to send you information about our Services, including without limitation, notifications regarding the Services and, upon your consent, email digests of content shared by those that you follow on Trenda.</p>

				<h3>User Content and URL Information:</h3>

				<p>Trenda allows you to provide content to Trenda, such as the ability to Submit collections of content and uniform resource locators ("URLs"), written descriptions of content or URLs, comments, text, images and (soon enough) video, along with your Name, Username, avatar, and profile bio.</p>

				<p>We may also collect and store information regarding the content voted on, submitted, or shared to your Trenda, Twitter, and/or Facebook, and the original URL, and associate that information with your Account. We also collect and store (i) the time and date on which the content was first voted on, submitted, or shared and (ii) information on the channels through which the content was shared, e.g., to other Trenda users, Twitter followers, and/or Facebook friends.</p>

				<p>Your Trenda name, username, bio, and avatar and your comments on Trenda are always public.</p>

				<p>We may retain data submitted by you to Trenda indefinitely.</p>

				<h3>Information Collected From Third Party Services:</h3>

				<p>We use Google Analytics to collect information about use of this site. Google Analytics provides us with information such as how often people visit, what pages they visit when they do so, and what other sites they used prior to coming to this site. To accomplish this, Google Analytics collects the IP address assigned to you on the date you visit this site, but not your name or other identifying information. Google Analytics also places a permanent cookie on your web browser to define user sessions and recognize you as a return user the next time you visit this site.</p>

				<p>We do not combine the information collected through the use of Google Analytics with personally identifiable information. Google Analytics uses only first-party cookies for data analysis, which means that the cookies are linked to a specific website domain, and Google Analytics will only use that cookie data for statistical analysis related to your browsing behavior on that website. The data collected cannot be retrieved by services from other domains.</p>

				<p>Google's ability to use and share information collected by Google Analytics about your visits to this site is restricted by the <a href="https://www.google.com/analytics/terms/us.html" target="_blank">Google Analytics Terms of Service</a> and the <a href="https://www.google.com/policies/privacy/" target="_blank">Google Privacy Policy</a>. You can prevent Google Analytics from recognizing you on return visits by disabling cookies in your browser or deleting the Google Analytics cookies. You can also manage your settings for Google Analytics and opt-out of this feature by visiting <a href="http://www.google.com/settings/ads" target="_blank">Google.com Ad Settings</a> or <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">Google Analytics' opt-out tools</a>.</p>

				<p>Generally, Trenda automatically collects usage information, such as the number and frequency of users accessing Trenda, Trenda features, and its various streams of content. We may use this data in aggregate form, that is, as a statistical measure, but not in a manner that would identify you personally. This type of aggregate data enables us and third parties authorized by us to figure out how often individuals use parts of Trenda so that we can analyze and improve them.</p>

				<h3>Aggregate Information:</h3>
				<p>We collect statistical information about how people use Trenda ("Aggregate Information"). Some of this information is derived from Personal Information, such as your location (which, in turn, can be derived from your IP address or through location based services used by your device). This statistical information is not Personal Information and cannot be tied back to you, your Account or your web browser.</p>

				<h3>How and With Whom Is My Information Shared?</h3>

				<p>Your activity on the Trenda network is public and can be located by or distributed to anyone. Individuals reading the aforementioned information may use or disclose it to other individuals or entities without our control and without your knowledge. Therefore, we urge you to think carefully about what you submit to Trenda.</p>

				<h3>Information You Elect to Share:</h3>

				<p>In addition to reviewing this Privacy Policy, you should also review the terms of service and privacy policies of any Third Party Services with which you access Trenda.</p>

				<h3>User Profile Information:</h3>

				<h3>Aggregate Information:</h3>

				<p>We share Aggregate Information with our partners, service providers and other persons with whom we conduct business. We share this type of statistical data so that our partners can understand how and how often people use Trenda and their services or websites, which facilitates improving both their services and how we interface with them. In addition, these third parties may share with us non-private, aggregated or otherwise non Personal Information about you that they have independently developed or acquired.</p>

				<h3>Information Shared with Our Agents:</h3>
				<p>We employ and contract with people and other entities that perform certain tasks on our behalf and who are under our control (our "Agents"). We may need to share Personal Information with our Agents in order to provide features or services to you. Unless we tell you differently, our Agents do not have any right to use Personal Information or other information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Personal Information with our Agents.</p>

				<h3>Information Disclosed Pursuant to Business Transfers:</h3>

				<p>In some cases, we may choose to buy or sell assets. In these types of transactions, user information is typically one of the transferred business assets. Moreover, if we, or substantially all of our assets associated with Trenda, were acquired, or in the unlikely event that we go out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of us may continue to use your Personal Information as set forth in this policy.</p>

				<h3>Information Disclosed for the Protection of Us and Others:</h3>

				<p>We also reserve the right to access, read, preserve, and disclose any information we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce these Terms of Service, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect our rights, property or safety, our users and the public. This includes exchanging information with other companies and organizations for fraud protection and spam prevention.</p>

				<h3>Is Information About Me Secure?</h3>
				<p>Your Account information (including your Twitter, Facebook, LinkedIn) is protected for your privacy and security. You need to prevent unauthorized access to your account and Personal Information by limiting access to your computer, and by signing off after you have finished accessing your account.</p>

				<p>We endeavor to protect Account information to ensure that it is kept private; however, we cannot guarantee the security of any Account information. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.</p>

				<p>We store all of our information, including your IP address information, using industry-standard security techniques. Although we undertake regular security review and use industry Best Practices to keep your information safe, we do not guarantee or warrant that such techniques will prevent unauthorized access to information about you we store, Personal Information or otherwise. </p>

				<h3>What Happens When There Are Changes to this Privacy Policy?</h3>

				<p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes in the way we collect or use information, we will notify you by posting an announcement on or within Trenda or sending you an email. A user is bound by any changes to the Privacy Policy when he or she uses Trenda after such changes have been first posted.</p>

				<h3>What If I Have Questions or Concerns?</h3>

				<p>If you have any questions or concerns regarding privacy using Trenda, please send us a detailed message to: admin@trenda.me.
				<p>We will make every effort to resolve your concerns.</p>
				<p><b>Effective Date:</b> June 18, 2016.</p>
			</div>
		</div>
	</div>
</div>