<div id="all">
	<div id="content">		
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3 bitter lgray tos well">

				<h2 class="nunito">Trenda.me Terms of Use</h2>

				<p>Hi! Welcome to the Trenda Terms of Service. (Please take off your shoes.)</p>

				<strong>What is this thing?</strong>

				<p>The document you are reading now is the legal contract between you and Trenda.me Ng. (a.k.a., “Trenda”, “we”, “us”) that applies to your use of this service.</p>

				<strong>Who is Trenda.me?</strong>

				<p>Trenda.me Ng. is the company that provides and operates the Trenda Service. We refer to ourselves simply as “Trenda”, because Trenda is the name of the service the vast majority of our users know us by.</p>

				<strong>Why should I read this?</strong>

				<p>Even if you breeze past most terms of service on the Internet, we think you should give this one a little more than a cursory perusal. By using Trenda, you are agreeing to be bound by all of the provisions set out here in Trenda’s Terms of Service.</p>

				<strong>Who owns the things I post on Trenda?</strong>

				<p>You do. When you like/dislike a post or image or write or submit something on Trenda, you own that content as far as we’re concerned. Trenda claims no ownership of your content.</p>

				<p>Please only post things on Trenda that you have the right to post, like your own writing or a public link. When you post content on Trenda, you are representing and warranting that you have all of the necessary rights to your content.</p>

				<p>We promise not to sell your content or data to anyone else without your explicit permission.</p>

				<p>Conversely, Trenda retains copyright and any other applicable rights in the things we post on Trenda, including Trenda’s logo, design, and look and feel.</p>

				<strong>Can I delete my own content from Trenda?</strong>

				<p>Yes, with a couple of caveats.</p>

				<p>Much of the content posted by Trenda users is part of a social activity among multiple individuals. The implication is that, deleting your work may be unfair to those who have elected to act on your feed.</p>

				<strong>Can Trenda block or delete my content from Trenda?</strong>

				<p>Yes. Trenda has the right to refuse or remove any content you post for any reason or even no reason. However, we try to limit the exercise of this right wherever possible, opting instead to let the citizens of Trenda-verse determine what they deem appropriate or otherwise through upvoting and downvoting.</p>

				<strong>Can Trenda change these Terms of Service?</strong>

				<p>Yes. We can change Trenda’s Terms of Service at any time. If the changes are material, we’ll let you know by a site-wide notification before the changes go into effect. The notice will designate a reasonable amount of time (we call that the “Notice Period”) after which the new Terms of Service will go into effect for all users.</p>

				<strong>How does Trenda protect my privacy?</strong>

				<p>That’s set forth in Trenda’s Privacy Policy. When you use Trenda, you consent to Trenda collecting and using information as detailed in the Privacy Policy. If you’re outside the United States, you consent to the transfer, storage, and processing of your information—including but not limited to the content you posted or transferred to the site and any personal information—to and within the United States and other countries.</p>

				<strong>Is Trenda for children?</strong>

				<p>No. You must be 13 or older to use Trenda. If you are under 13, you are not permitted to use Trenda Services. If we learn that you are under 13, we will terminate your account.</p>

				<p>More broadly, if you can’t legally form a binding contract, or are otherwise legally prohibited from using Trenda, you don’t have our permission to use Trenda Services.</p>

				<strong>Do these Terms of Service apply to the third-party services I can use to create an account or Log in to Trenda?</strong>

				<p>No. Trenda enables the use of other companies’ services -- like Twitter’s and Facebook’s -- to create and authorize user accounts. If you use those third-party services in connection with Trenda, you are agreeing to their terms of use, privacy policy, and other agreements between you and them.</p>

				<strong>How does Trenda deal with copyright infringement?</strong>

				<p>Trenda complies with the Digital Millennium Copyright Act. We have a policy of terminating repeat copyright infringers as appropriate.</p>

				<p>The contact information for Trenda’s Designated Agent for receipt of notices of claimed infringement is here:</p>

				<p>Email: Lani@trenda.me</p>

				<p>Phone: +2348023908727</p>

				<strong>Without further ado:</strong>

				<p>1. YOU USE TRENDA AT YOUR OWN RISK. OUR SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>

				<p>2. TRENDA MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WITH RESPECT TO TRENDA SERVICES. FOR EXAMPLE, WE DO NOT WARRANT THAT (I) THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, (II) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, ABSOLUTELY SECURE, OR ERROR-FREE, (III) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL ACQUIRED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, OR (IV) ANY ERRORS IN THE TRENDA SERVICES WILL BE CORRECTED.</p>

				<p>3. YOU UNDERSTAND AND EXPRESSLY AGREE THAT TRENDA SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF TRENDA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE SERVICE; (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (IV) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; (V) OR ANY OTHER MATTER RELATING TO THE TRENDA SERVICES.</p>

				<p>4. THE FAILURE OF TRENDA TO EXERCISE OR ENFORCE ANY RIGHT OR PROVISION OF THESE TERMS SHALL NOT CONSTITUTE A WAIVER OF THAT RIGHT OR PROVISION. THE TERMS AND OUR PRIVACY POLICY CONSTITUTE THE ENTIRE AGREEMENT BETWEEN YOU AND TRENDA AND GOVERN YOUR USE OF THE TRENDA SERVICES, SUPERSEDING ANY PRIOR AGREEMENTS BETWEEN YOU AND TRENDA (INCLUDING, BUT NOT LIMITED TO, ANY PRIOR VERSIONS OF THE TERMS).</p>

				<p>Effective date of these Terms of Service: June 30, 2016.</p>				
			</div>
		</div>
	</div>
</div>
<!-- <hidden>



</hidden> -->