// Lato, Nunito, Bitter
// font-family: 'Lato', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Bitter', serif;
// font-family: 'McLaren', cursive;
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|McLaren|Nunito:400,700|Bitter:400,700);

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.tos { font-size: 1.2em; }
.breathe { margin-top: 12px; }
.top-left { border-top-left-radius: 20px;}
.wwrap { word-wrap: break-word; }
.bitter { font-family: 'Bitter', serif; }
.nunito { font-family: 'Nunito', sans-serif !important; }
.mclaren { font-family: 'McLaren', cursive !important; }
.lato { font-family: 'Lato', sans-serif !important; }
.bold { font-weight: bold!important; }
#article { font-size: 17px; }
.black { color: black; }
.grey { color: grey; }
h4 a, h5 a { color: black; }
h4 a:hover, h5 a:hover { text-decoration: none; }
.signal {
  font-size: 20px;
  font-weight: bold;
}
.danger { color: #c0392b; }
.actions { font-size: 20px; }
.sm-actions { font-size: 15px; }
.err {  
  color: #c0392b;
  padding-bottom: 5px;
  margin-left: -35px;
}
.field_with_errors { border-bottom: 2px solid #c0392b; }
.img-show { max-width: 100%; }
#img_file { visibility: hidden; }
.left-btn {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.right-btn {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.fa-home {
	color: #c27baa;
	font-size: 20px !important;
}
.fa-facebook-square {
	color: #3b5998;
	font-size: 20px !important;
}
.fa-linkedin-square {
	color: #313335;
	font-size: 20px !important;
}
.fa-twitter-square {
	color: #0084b4;
	font-size: 20px !important;
}
.fblue { color: #3b5998; }
.tblue { color: #0084b4; }
.lgray { color: #313335; }
.limit { color: #c0392b; }