<!-- *** FOOTER ***
_________________________________________________________ -->

<div id="footer">
  <div class="container">
    <div class="col-sm-3">
      <h4>Pages</h4>

      <ul>
          <li style="display: none;"><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li style="display: none;"><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Terms of Service", tos_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
          
      </ul>
    </div>
    <!-- /.col-sm-3 -->

    <div class="col-sm-3">

      <h4>User section</h4>
      <ul>
        <% unless logged_in? %>
          <li><%= link_to "Sign in with Facebook", "auth/facebook" %></li>
          <li><%= link_to "Sign in with LinkedIn", "auth/linkedin" %></li>
          <li><%= link_to "Sign in with Twitter", "auth/twitter" %></li>
        <% else %>
          <li><%= link_to "Publish", new_pin_path %></li>
        <% end %>
      </ul>


    </div>
    <!-- /.col-sm-3 -->

    <div class="col-sm-3">

      <h4>How to reach us</h4>

      <p><strong>Trenda.me</strong>
        <br>Email: <span style="color: color: #c27baa;">Lani@trenda.me</span>
        <br>Phone: <span style="color: color: #c27baa;">+2348023908727</span>
      </p>

      <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-sm-3 -->

    <div class="col-sm-3">
      <%= form_tag(root_path, method: "get") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <i class="input-group-btn">
          	<%= button_tag(type: "submit", class: "btn btn-default") do %>
          		Search
            <% end %>
					</i>
        </div>
      <% end %>

    </div>
    <!-- /.col-sm-3 -->
  </div>
  <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
  <div class="container">
    <div class="col-md-12">
    	<p class="pull-left">&copy; 2016, Trenda.me.</p>
    </div>
  </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->